@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}
body{
        background-color: #23272f;
        color: white;

}

a{
    display: block;
}
a.active{
    color: #27c2ff;
    background-color: #27c2ff2a;
}
div{
    text-align: center;
}

h3, h1, h2, h4, h5, h6{
        padding-top: 50px;
}